<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="static/pace.png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <title>MMIS</title>
</head>
<body>
  <section>
			<h2>Supplemental menu</h2>
			<ul>
				<li><a href="/about/">About Us</a></li>
				<li><a href="/contact/">Contact Us</a></li>
				<li><a href="/linkto/">Link to Us</a></li>
				<li><a href="/advertise/">Advertise With Us</a></li>
				<li><a href="/webhosting/">Web Hosting</a></li>
				<li><a href="/sitemap/">Site Map</a></li>
				<li><a href="/" id="navHome" title="Home">Home</a></li>		
			</ul>
		</section>
  <h1> Machine Maintenance Information Systems</h1><br>
  <img src="static/pace.png">
  <h2>About</h2>
  <p>Hello There, you'll learn about Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Luctus venenatis lectus magna fringilla urna. Vivamus arcu felis bibendum ut tristique. Purus faucibus ornare suspendisse sed. Varius duis at consectetur lorem donec massa. Libero nunc consequat interdum varius. Eu facilisis sed odio morbi quis commodo odio aenean sed. Nunc sed velit dignissim sodales ut eu sem integer. Mattis rhoncus urna neque viverra justo nec. Commodo elit at imperdiet dui. Hendrerit gravida rutrum quisque non tellus orci ac auctor. Erat pellentesque adipiscing commodo elit. Semper quis lectus nulla at volutpat diam. Laoreet non curabitur gravida arcu ac tortor. Scelerisque felis imperdiet proin fermentum. Integer feugiat scelerisque varius morbi. Turpis egestas pretium aenean pharetra magna ac. Amet massa vitae tortor condimentum lacinia quis vel eros.</p>
 
</body>
</html>